In [1]:
import requests
import dill
from bs4 import BeautifulSoup
from datetime import datetime
import numpy as np
import pandas as pd

In [3]:
url = {'fiction_best':"https://www.audible.com/adblbestsellers?ref=a_adblbests_l1_catRefs_8&pf_rd_p=a30c7ab3-6e06-4708-af2f-e103a849b3b1&pf_rd_r=0MAXQ9SPXF8FTNF46SEZ&&searchCategory=2226652011&pageSize=50"}
page = requests.get(url['fiction_best'])

In [4]:
soup = BeautifulSoup(page.text, "lxml")
print(soup.prettify()[400:800])

com/images/I/61WhRK1mB6L.css?AUIClients/AudibleBrickCitySkin" rel="stylesheet"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/01kk-PyD3wL.css?AUIClients/AudibleProductContentAssets" rel="stylesheet"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/017c-E3u2tL._RC|01bz7sdOGmL.css_.css?AUIClients/AudibleBuyBoxAssets" rel="stylesheet"/>
  <style>
   .dlp-hero{positio

In [4]:
parent = soup.find('div',attrs = {'id': 'center-3'})
# books =

In [5]:
len(parent)

3

In [6]:
books = parent.select('h3.bc-heading a')

In [7]:
len(books)

50

In [8]:
books[0].text

'Olive Kitteridge'

In [5]:
def title_from_page(P):
    titles = []
    soup = BeautifulSoup(P.text, "lxml")
    parent = soup.find('div',attrs = {'id': 'center-3'})
    books = parent.select('h3.bc-heading a')
    for b in books:
        titles.append(b.text)
    return titles

In [10]:
title_from_page(page)[45:]

['The Ice Cream Queen of Orchard Street',
 'A Man Called Ove',
 'Beautiful Ruins',
 'The Dark Tower I',
 'The Ninth Hour']

### scraping multiple pages

###'https://www.audible.com/adblbestsellers?ref=a_adblbests_c5_pageNum_1&pf_rd_p=e1595489-c152-4314-a5d7-ed60b7e2ecc8&pf_rd_r=YSX8A1QFJB9W5WX4Y9NF&&searchCategory=2226652011&pageSize=50&page=2'
###'https://www.audible.com/adblbestsellers?ref=a_adblbests_c5_pageBack&pf_rd_p=e1595489-c152-4314-a5d7-ed60b7e2ecc8&pf_rd_r=YFM8398MNSGEFK7C6V03&&searchCategory=2226652011&pageSize=50&page=1'

In [12]:
# maybe remove the () and deal with encoding ( The Room on Rue Am\xe9lie)(not a problem with python3)
#
def get_page_args(i):
    return {"url": url,
            "params": {"page": i}}

In [13]:
LIMIT = 2
books = []
for p in range(1,LIMIT+1):
    print(p)
    books = books + title_from_page(requests.get(**get_page_args(p)))
# [title_from_page(requests.get(**get_page_args(i))) for i in xrange(LIMIT)]

1
2

In [14]:
get_page_args(1)

{'params': {'page': 1},
 'url': 'https://www.audible.com/adblbestsellers?ref=a_adblbests_l1_catRefs_8&pf_rd_p=a30c7ab3-6e06-4708-af2f-e103a849b3b1&pf_rd_r=0MAXQ9SPXF8FTNF46SEZ&&searchCategory=2226652011&pageSize=50'}

## some triming

In [27]:
import re

In [28]:
books = [re.sub('\(.*\)|- Vol. [0-9]+', '', b) for b in books]

## make it a df

In [29]:
df = pd.DataFrame(books, columns=['title'])
df.head()

                     title
0         Olive Kitteridge
1          The Great Alone
2     Before We Were Yours
3             Pet Sematary
4  Little Fires Everywhere

In [30]:
df.iloc[51:60]

                                title
51         History Is All You Left Me
52  The Land: Founding: A LitRPG Saga
53                The Thirteenth Tale
54                           Still Me
55          The Zombie Survival Guide
56                            Beloved
57        All the Light We Cannot See
58                 The Lady Elizabeth
59            The Women in the Castle

In [31]:
df.to_csv('fiction.csv', index=False)

## next
get titles from othe rcatergories

In [2]:
# books

In [16]:
import re

In [5]:
## get ratings

## get more books

In [17]:
import re

In [87]:
url = 'https://www.audible.com/search?field_browse=2226652011&field_subjectbin=2226652011&searchRank=salesrank&field_language=9178177011&ref=a_cat_Ficti_c3_showmore&pf_rd_p=0294277f-3b18-4336-85fe-66d1fc729fee&pf_rd_r=GBZ69PWWB1VFC5VE4TRN&'

LIMIT = 25
books = []
def get_page_args2(url, i):
    return {"url": url,
            "params": {"page": i}}

In [88]:
for p in range(1,LIMIT+1):
#     print(p)
    books = books + title_from_page(requests.get(**get_page_args2(url,p)))

### triming out the book title

In [89]:
books = [re.sub('\(.*\)| Vol. [0-9]+|\[.*\]|Special Edition|Expanded Edition', '', b) for b in books]
fiction_books = books

In [90]:
# batch +=20
# # batch = 0
# books[batch: (batch + 20)]
# #

In [75]:
# Special Edition,  [Naxos AudioBooks Edition], [Audible Edition],  Expanded Edition, Vol. 1

In [91]:
len(books)

500

In [113]:
temp = []
for b in books:
    temp = temp + re.split('[\W\s]+', b.lower())

In [114]:
book_dict = set(temp)

In [115]:
df = pd.DataFrame(books, columns=['title'])
df.to_csv('fiction_500.csv', index=False)