In [28]:
import requests
import dill
from bs4 import BeautifulSoup
from datetime import datetime
import numpy as np
import pandas as pd

In [29]:
url = "https://www.audible.com/adblbestsellers?ref=a_adblbests_l1_catRefs_8&pf_rd_p=a30c7ab3-6e06-4708-af2f-e103a849b3b1&pf_rd_r=0MAXQ9SPXF8FTNF46SEZ&&searchCategory=2226652011&pageSize=50"
page = requests.get(url)

In [21]:
soup = BeautifulSoup(page.text, "lxml")
print(soup.prettify()[400:800])

com/images/I/61WhRK1mB6L.css?AUIClients/AudibleBrickCitySkin" rel="stylesheet"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/01kk-PyD3wL.css?AUIClients/AudibleProductContentAssets" rel="stylesheet"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/017c-E3u2tL._RC|01bz7sdOGmL.css_.css?AUIClients/AudibleBuyBoxAssets" rel="stylesheet"/>
  <style>
   .dlp-hero{positio

In [5]:
parent = soup.find('div',attrs = {'id': 'center-3'})
# books =

In [6]:
len(parent)

3

In [7]:
books = parent.select('h3.bc-heading a')

In [8]:
len(books)

50

In [9]:
books[0].text

'Pet Sematary'

In [52]:
def title_from_page(P):
    titles = []
    soup = BeautifulSoup(P.text, "lxml")
    parent = soup.find('div',attrs = {'id': 'center-3'})
    books = parent.select('h3.bc-heading a')
    for b in books:
        titles.append(b.text)
    return titles

In [11]:
title_from_page(page)[25:]

['See Me',
 'Lilac Girls',
 'The Room on Rue Amélie',
 'Middlesex',
 'Big Little Lies',
 'The Women in the Castle',
 'Cutting for Stone',
 'The Land: Founding: A LitRPG Saga',
 'A Man Called Ove',
 'All the Light We Cannot See',
 'The Dark Tower I',
 'FantasticLand',
 'Still Me',
 "The Handmaid's Tale",
 'The Masterpiece',
 'Beach Music',
 'The Brief Wondrous Life of Oscar Wao',
 "The Orphan Master's Son",
 'The Ocean at the End of the Lane',
 'The Kremlin Conspiracy',
 'Small Great Things',
 'Accidental Heroes',
 'Dragonfly in Amber ',
 'Dreamsongs (Unabridged Selections)',
 'Mischling']

### scraping multiple pages

###'https://www.audible.com/adblbestsellers?ref=a_adblbests_c5_pageNum_1&pf_rd_p=e1595489-c152-4314-a5d7-ed60b7e2ecc8&pf_rd_r=YSX8A1QFJB9W5WX4Y9NF&&searchCategory=2226652011&pageSize=50&page=2'
###'https://www.audible.com/adblbestsellers?ref=a_adblbests_c5_pageBack&pf_rd_p=e1595489-c152-4314-a5d7-ed60b7e2ecc8&pf_rd_r=YFM8398MNSGEFK7C6V03&&searchCategory=2226652011&pageSize=50&page=1'

In [53]:
# maybe remove the () and deal with encoding ( The Room on Rue Am\xe9lie)(not a problem with python3)
#
def get_page_args(i):
    return {"url": url,
            "params": {"page": i}}

In [54]:
LIMIT = 2
books = []
for p in range(1,LIMIT+1):
    print(p)
    books = books + title_from_page(requests.get(**get_page_args(p)))
# [title_from_page(requests.get(**get_page_args(i))) for i in xrange(LIMIT)]

1
2

In [51]:
get_page_args(1)

{'params': {'page': 1},
 'url': 'https://www.audible.com/adblbestsellers?ref=a_adblbests_l1_catRefs_8&pf_rd_p=a30c7ab3-6e06-4708-af2f-e103a849b3b1&pf_rd_r=0MAXQ9SPXF8FTNF46SEZ&&searchCategory=2226652011&pageSize=50'}

## make it a df

In [55]:
df = pd.DataFrame(books, columns=['title'])
df.head()

                                      title
0                              Pet Sematary
1                           The Great Alone
2                      Before We Were Yours
3                   Little Fires Everywhere
4  An American Marriage (Oprah’s Book Club)

In [56]:
df.iloc[51:60]

                title
51        Surprise Me
52            Ireland
53  The Land: Forging
54         Good Omens
55   The Immortalists
56          The Power
57   A Column of Fire
58            Voyager
59  Almost Missed You

In [57]:
df.to_csv('fiction.csv')

## next
get titles from othe rcatergories

In [35]:
books[51:60]

['The Great Alone',
 'Before We Were Yours',
 'Little Fires Everywhere',
 'An American Marriage (Oprah’s Book Club)',
 'The Alice Network',
 'Tangerine',
 'The Terror',
 'A Gentleman in Moscow',
 'It']

In [37]:
books[101:110]

['The Great Alone',
 'Before We Were Yours',
 'Little Fires Everywhere',
 'An American Marriage (Oprah’s Book Club)',
 'The Alice Network',
 'Tangerine',
 'The Terror',
 'A Gentleman in Moscow',
 'It']